* {
    box-sizing: border-box;
    border: 1px  solid black;
}

body {
    margin: 0px;
}

.title-part {
    color: #32b088;
    text-align: center;
}

.container {
    /*max-width: 900px;*/
    margin: 0 auto;
}

.row {

}

.col {
    width: calc(100% / 1);
    padding: 200px;
}

input {
    width: 100%;
}
