* {
    box-sizing: border-box;
    /*border: 1px  solid black;*/
}

body {
    margin: 0px;
}

.title-part {
    color: #32b088;
    text-align: center;
}

.container {
    margin: 0 auto;
}

.row {

}

.col {
    width: calc(100% / 1);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;
}

input {
    width: 100%;
}

.input-area {
    height: 30px;
    margin-top: 10px;
}

.btn {
    width: 10%;
    height: 30px;
    margin-top: 10px;
    background-color: #32b088;
    border-radius: 50px;
}

.input-area-for-col-num {
    width: 15%;
}